<div class="container">
  <div class="d-flex justify-content-center">
  <div class="card-trip mt-5 pb-3">
    <div class="card-trip-infos">
        <h2><%= @task.title%>
    </div>
    <div class="card-trip-infos">
        <h2><%= @task.completed_at %>
    </div>
    <div class="card-trip-infos">
        <h2><%= @task.support_one %>
    </div>
    <div class="card-trip-infos">
        <h2><%= @task.support_two %>
    </div>
   </div>
 </div>
</div>
