<div class="banner">
  <div class="container text-center">
    <h1>We never <strong>succeed alone</strong>!</h1>
    <p>Reach your goals in your daily tasks with the support of your loved ones.</p>
    <a class="btn btn-primary mt-3">Start a new task </a>
  </div>
</div>

<div class="container mt-5">
  <h1 class="text-center mb-5">How it works</h1>
  <div class="row justify-content-center">
    <div class="col-md-3">
      <i class="fa-solid fa-list-check m-3"></i>
      <h4>1.Create a daily task </h4>
      <p class="explain">Create your daily tasks to learn a language, play sports, lose weight or other challenges you set for yourself. </p>
    </div>
    <div class="col-md-3">
     <i class="fa-solid fa-user-group m-3"></i>
      <h4>2. Invite his supporters </h4>
      <p class="explain">Your loved ones are your first supporters invite them to support you in your challenge.</p>
    </div>
     <div class="col-md-3">
      <i class="fa-solid fa-envelope-circle-check m-3"></i>
       <h4>3. Notifacations </h4>
      <p class="explain">Every day your supporters are alerted by email to support you.</p>
    </div>
    <div class="col-md-3">
      <i class="fa-solid fa-circle-check m-3"></i>
       <h4>4. Success </h4>
      <p class="explain">Your success is assured thanks to your determination and the support of your loved ones. </p>
    </div>
  </div>
</div>

<div class="container text-center mt-5">
   <a class="btn btn-primary mt-3">Start a new task </a>
</div>
